@import "_fonts.scss";

h1 {
    color: red;
    font-family: "RobotoRegular";
}

p {
    font-family: "RobotoRegular";
}

.logo {
    background: url("./svg/logo.svg");
    width: 100px;
    height: 100px;
}